.App {
  text-align: center;
  font-family: Calibri;
  font-size: 22px;
  padding-top: 35px;
  padding-bottom: 35px;
  font-style: italic;
  background-color: whitesmoke;
  border-style: solid;
  border-width: 3px;
  border-color: navy;
  width: 440px;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Header {
  background-color: #222;
  height: 45px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
